.mar-izq{
  margin-left: 25%;
}

.form-control-wrong{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-wrong:focus{
  border-color: red;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(210, 92, 78);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(210, 92, 78);
}


.oculto{
  visibility: hidden;
  /*margin:0 auto;
  text-align: center;
  border: 1px solid red;
  border-radius: 5px;*/
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.titulo {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    float: left;
}

.index .main-container{
    margin-top:3%;
}

.main-container{
    
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #f8f8f8;
    min-height: 600px;
}

.main{
    padding: 1% 2% 5%;
}

.content{
    padding: 1% 2% 5%;
    background-color: #fff;
    border-radius: 10px;
    margin: 5px 25px;
}

.content-panel{
    padding: 1% 2% 2%;
    background-color: #fff;
    border-radius: 10px;
}

.section-title{
    min-height: 65px;
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 1%;
}

.section-title-panel{
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 1%;
}

.derecha{
    margin-top: 1%;
    margin-right: 5%;
    float: right;
}

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.alertas{
    position: absolute;
    z-index: 9999;
    width: 100%;
    margin-top: -2%;
}

#message , .message {
    top: 0;
    left: 0;
    width: 25%;
    margin: 0 auto;

    /*
    TODO mostrar mensajes de alerta sobre el contenido.
    position: absolute;
    top: 30px;
    left: 20px;
    right: 20px;
    width: 25%;
    margin: 0 auto;*/
}
#inner-message {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}

/* Page breadcrumb */
.page-bar {
    padding: 0px;
    background-color: #ffffff;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
.page-bar:before,
.page-bar:after {
    content: " ";
    display: table; }
.page-bar:after {
    clear: both; }
.page-bar .page-breadcrumb {
    display: inline-block;
    float: left;
    padding: 10px 6px;
    margin: 0;
    list-style: none; }
.page-bar .page-breadcrumb > li {
    display: inline-block; }
.ie8 .page-bar .page-breadcrumb > li {
    margin-right: 1px; }
.page-bar .page-breadcrumb > li > a,
.page-bar .page-breadcrumb > li > span {
    color: #888;
    font-size: 13px;
    text-shadow: none; }
.page-bar .page-breadcrumb > li > i {
    color: #aaa;
    font-size: 14px;
    text-shadow: none; }
.page-bar .page-breadcrumb > li > i[class^="icon-"],
.page-bar .page-breadcrumb > li > i[class*="icon-"] {
    color: #8c8c8c; }
.page-bar .page-toolbar {
    display: inline-block;
    float: right; }
.page-bar .page-toolbar .btn-fit-height {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    padding-top: 9px;
    padding-bottom: 9px; }
.page-md .page-bar .page-toolbar .btn-fit-height {
    padding-top: 11px;
    padding-bottom: 10px;
    box-shadow: none !important; }
.page-bar .page-toolbar .btn.btn-default {
    border-color: #eee;
    color: #999; }
.page-bar .page-toolbar .btn.btn-default > i {
    color: #999; }
.page-bar .page-toolbar .btn.btn-sm {
    margin-top: 0px; }
.page-bar .page-toolbar .btn-dashboard-daterange {
    padding: 8px 16px 8px 16px; }
.page-bar .page-toolbar .btn-dashboard-daterange > i[class^="icon-"] {
    position: relative;
    font-size: 20px;
    opacity: 0.8 ;
    filter: alpha(opacity=80) ;
    top: 2px; }
.page-bar .page-toolbar .btn-dashboard-daterange > i.fa-angle-down {
    font-size: 16px;
    opacity: 0.8 ;
    filter: alpha(opacity=80) ; }

.portfolio-item {
    margin-bottom: 40px;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}
.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.font-white{
    color:white;
}
.foo{
    color: white;
    font-size: 10px;
    margin-bottom: 0px;
    padding: 10px 10px;
    position: relative;
    bottom: 0px;
    background-color: #233140;
}

.font-10{
    font-size: 10px;
}

.font-20{
    font-size: 20px;
}

.font-15{
    font-size: 15px;
}

.nav-a.active {
    outline: 0;
    color: #18bc9c;
}

.container-carousel{
    width: 100%;
}
.align-center{
    text-align: center;
}

#busqueda{
    position: absolute;
    top: 40%;
    left: 25%;
}

/*.navbar-default {
    background-color: #47b475;
    border-color: #e7e7e7;
}*/